#first-page {
	flex-direction: row;
}

#resume {
	margin: 20px auto 20px auto;
	width: fit-content;
}

#resume > .a4:not(:last-child) {
	margin-bottom: 20px;
}

.a4 {
	display: flex;
	flex-direction: column;
	height: 297mm;
	width: 210mm;
	box-shadow: 2px 2px 5px #aaaaaa;
}

.chronological-list {
	list-style: none;
}

.chronological-list__date {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

.chronological-list__description {
	font-size: 14px;
}

.chronological-list__item > * {
	margin: 0px;
}

.chronological-list__item > *:not(:last-child) {
	margin-bottom: 10px;
}

.chronological-list__title {
	display: block;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}

.chronological-list__title > a {
	outline: none;
	text-decoration: none;
}

.introduction {
	margin: 0px 0px 20px 0px;
	padding: 0px 20px;
}

.introduction__job-title {
	font-size: 16px;
	font-style: italic;
}

.introduction__name {
	display: block;
	font-size: 24px;
	font-weight: 600;
}

.main {
	background-color: #ffffff;
	flex-grow: 1;
	padding: 20px;
}

.main * {
	color: #222222;
}

.main h1 {
	background-color: #2b2b48;
	color: #dddddd;
	font-size: 16px;
	font-weight: 700;
	margin: 0px 0px 10px 0px;
	padding: 5px 10px;
	text-transform: uppercase;
}

.main section:not(:last-child) {
	margin-bottom: 10px;
}

.main ol {
	margin: 0px;
	padding: 5px 10px;
}

.options-bar {
	align-items: center;
	background-color: #262640;
	border-bottom: 1px solid #353558;
	box-sizing: border-box;
	display: flex;
	gap: 5px;
	justify-content: flex-end;
	min-height: 50px;
	padding: 0px 20px 0px 20px;
	width: 100%;
}

.options-bar .icons {
	color: #dddddd;
	font-size: 20px;
	font-weight: 700;
	padding: 5px;
}

.options-bar > *:hover {
	background-color: #353558;
}

.progress-bar {
	border: 1px solid #dddddd;
	border-radius: 10px;
	height: 5px;
	margin: 5px 0px 10px 0px;
}

.project:not(:last-child) {
	margin-bottom: 10px;
}

.project__details {
	color: #222222;
	line-height: 25px;
	margin: 10px 0px;
	padding-left: 20px;
}

.project__title {
	font-weight: 600;
	text-transform: uppercase;
}

.select {
	align-items: center;
	box-sizing: border-box;
	display: grid;
	grid-template-areas: "select";
	height: 30px;
	margin: auto 0px auto 0px;
	padding: 5px;
	width: 120px;
}

.select::after {
	background-color: #dddddd;
	clip-path: polygon(0% 0%, 20% 0%, 50% 60%, 80% 0%, 100% 0%, 50% 100%);
	content: "";
	grid-area: select;
	height: 8px;
	justify-self: end;
	width: 12px;
}

.select > select {
	appearance: none;
	background-color: inherit;
	border: none;
	color: #dddddd;
	font-size: 14px;
	font-weight: 700;
	grid-area: select;
	outline: none;
	text-transform: uppercase;
	width: 100%;
}

.select > select > option {
	background-color: #262640;
}

.separator {
	background-color: lightgray;
	border: none;
	height: 1px;
	margin: 20px;
}

.sidebar {
	background-color: #2b2b48;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	min-width: 300px;
	padding: 20px 0px;
	width: 300px;
}

.sidebar * {
	color: #dddddd;
}

.sidebar dl {
	margin: 0px;
	padding: 0 20px;
}

.sidebar dl > dd {
	font-size: 14px;
	margin: 0px;
}

.sidebar dl > dd:not(:last-child) {
	margin-bottom: 10px;
}

.sidebar dl > dd > a {
	outline: none;
	text-decoration: none;
}

.sidebar dl > dt {
	font-size: 14px;
	font-weight: bold;
}

.sidebar h1 {
	background-color: #393960;
	font-size: 14px;
	font-weight: 700;
	margin: 0px;
	padding: 5px 20px;
	text-transform: uppercase;
}

.sidebar section:not(:last-child) {
	margin-bottom: 20px;
}

.sidebar section > *:not(:last-child) {
	margin-bottom: 20px;
}

.sidebar ul {
	margin: 0px;
	padding: 0px 20px;
}

.tags {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	list-style: none;
	padding: 0px;
}

.tags > * {
	background-color: #393960;
	border-radius: 10px;
	color: #dddddd;
	font-size: 14px;
	font-weight: bold;
	padding: 5px 10px;
}

body {
	background-color: #f8f8ff;
	font-family: "Open Sans", sans-serif;
	margin: 0;
	min-width: calc(210mm + 40px);
}

footer {
	background-color: #262640;
	color: #dddddd;
	font-size: 14px;
	padding: 20px;
}

footer a {
	outline: none;
	text-decoration: none;
	color: inherit;
}

@media print {
	body {
		min-width: 0px;
	}

	body *:not(#resume, #resume *) {
		display: none;
	}

	#resume {
		margin: 0px;
	}
}
